<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <div id="grid" class="row">
                <div class="mix col-sm-4 page1 page4 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/images/Rome.jpg" class="img-responsive" alt="Rome">
                        <div class="item-img-overlay">
                            <a href="#" class="show-image">
                                <span></span>
                            </a>
                        </div>
                    </div> 
                </div>
                
                
                <div class="mix col-sm-4  page2 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/images/Paris.jpg" class="img-responsive" alt="workimg">
                        <div class="item-img-overlay">
                            <a href="#" class="show-image">
                                <span></span>
                            </a>
                        </div>
                    </div> 
                </div>

                <div class="mix col-sm-4  page2 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/images/Barcelona.jpg" class="img-responsive" alt="workimg">
                        <div class="item-img-overlay">
                            <a href="#" class="show-image">
                                <span></span>
                            </a>
                        </div>
                    </div> 
                </div>

                <div class="mix col-sm-4  page2 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/images/Moscow.jpg" class="img-responsive" alt="workimg">
                        <div class="item-img-overlay">
                            <a href="#" class="show-image">
                                <span></span>
                            </a>
                        </div>
                    </div> 
                </div>
            </div><!--grid-->
        </div>
    </div>
</div>