<!-- Toolbar -->
<nav class="navbar navbar-dark navbar-expand-lg fixed-top mb-5">
  <!-- navbar navbar-expand-lg navbar-light bg-light mb-3 -->
  <div id="my-nav" class="collapse navbar-collapse toolbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link nav"
           [routerLink]="['']">
          <span>
            <img src="assets/images/favicon.png" >
            <span class="enlarged ml-2">Flight booking</span>
          </span>
        </a>
      </li>
      <li *ngIf="true" class="nav-item active end">
        <span>
          <a class="nav-link float-left"
           [routerLink]="['login']" routerLinkActive="ctive"><span class="enlarged">Log in</span></a>
          <a class="nav-link  float-right"
           [routerLink]="['register']" routerLinkActive="active"><span class="enlarged">Register</span></a>
        </span>
      </li>
      <li *ngIf="false" class="nav-item active end">
        <a class="nav-link"
           [routerLink]="['profile']" routerLinkActive="active">Profile</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content container" role="main">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <footer>
      <app-footer></app-footer>
  </footer>
</div>
